.Container {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 75% 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.Main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.SocialContainer {
    display: flex;
    flex-direction: row-reverse;
}

.TitleAndLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.Main img{
    height: 40px;
    width: auto;
    object-fit: cover;
}

/* Convert to variant of vertical when on small screen */
@media (max-width: 1180px) {
    .Container{
        grid-column-start: 2;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 20px;
        text-align: center;
    }
    
    .Main{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .TitleAndLogo{
        display: flex;
        flex-direction: left;
        align-items: center;
        gap: 20px;
    }
    
    .Main img{
        height: 40px;
        width: auto;
        object-fit: cover;
    }
}