.Container{
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.Main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.TitleAndLogo{
    display: flex;
    flex-direction: left;
    align-items: center;
    gap: 20px;
}

.Main img{
    max-height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 10px;
}