.Content {
    grid-column-start: 2;
    height: 450px;
    width: 100%;
    background-size: cover;  
    border-radius: 26px;
}

.TextContainer{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    gap: 15px;
    border-radius: inherit;
    height: 100%;
    background: rgba(0, 0, 0, 0.6) 0%;
    color: var(--background);
}

.Heading {
    font-size: 3rem;
    font-weight: 700;
}

.SubHeading {
    font-weight: normal;
    line-height: 2rem;
}
