.HeroContainer{
    padding-top: 50px;
    padding-bottom: 50px;
}

.ContentContainer{
    display: grid;
    grid-template-columns: 22vw 1fr 22vw;
}

.Content {
    grid-column-start: 2;
    height: 450px;
    width: 100%;
    background-size: cover;  
    border-radius: 26px;
}

.TextContainer{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    gap: 15px;
    border-radius: inherit;
    height: 100%;
    color: var(--background);
}

.Heading {
    font-size: 3rem;
    font-weight: 700;
}

.SubHeading {
    font-weight: normal;
    line-height: 2rem;
}


@media (max-width: 1670px) {
    .ContentContainer{
        grid-template-columns: 18vw 1fr 18vw;
    }
}

@media (max-width: 1375px) {
    .ContentContainer{
        grid-template-columns: 10vw 1fr 10vw;
    }
}

@media (max-width: 800px) {
    .ContentContainer{
        grid-template-columns: 64px 1fr 64px;
    }

    .Content{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

}

@media (max-width: 550px) {
    .ContentContainer{
        grid-template-columns: 32px 1fr 32px;
    }
}
