.HeaderContainer{
    display: grid;
    grid-template-columns: 25vw 1fr 25vw;
}

@media (max-width: 1670px) {
    .HeaderContainer{
        display: grid;
        grid-template-columns: 20vw 1fr 20vw;
    }
}

@media (max-width: 1375px) {
    .HeaderContainer{
        display: grid;
        grid-template-columns: 15vw 1fr 15vw;
    }
}

@media (max-width: 800px) {
    .HeaderContainer{
        display: grid;
        grid-template-columns: 64px 1fr 64px;
    }
}

@media (max-width: 550px) {
    .HeaderContainer{
        display: grid;
        grid-template-columns: 32px 1fr 32px;
    }
}

.Title{
    font-size: 1.5rem;
    font-weight: 600;
}

.SubTitle {
    font-size: 1.1rem;
    font-weight: 500;
}